.text-visuel {
  color: #141536 !important;
}

.bg-visuel {
  background: #1463A5 !important;
}

.butt-visuel {
  background: #26a69a !important;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 300px;
  list-style: none;
  text-align: center;
}

/* Common style */

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  border-radius: 50%;
  min-width: 100px;
  max-width: 380px;
  max-height: 380px;
  width: 160px;
  height: 160px;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2, .grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect {
  background: linear-gradient(45deg, #35b444 0%, #da6928 40%, #4297dd 100%);
}

figure.effect img {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect figcaption {
  padding: 3em;
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

figure.effect figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: "";
}

figure.effect h2 {
  margin: 20% 0 10px 0;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect figcaption::before, figure.effect p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.effect:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect:hover figcaption::before, figure.effect:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect:hover figcaption {
  background-color: rgba(58, 52, 42, 0);
}

figure.effect:hover img {
  opacity: 0.4;
}

.custom-toggle {
  border: 1px solid #027be3
}

.hide-radio {

  visibility: hidden;
}
