$primary   : #e6f7ff;
$secondary : #f3f4f6;
$accent    : #077ea5;

$dark      : #374151;
$dark-page : #23272f;

$positive  : #41ba5d;
$negative  : #cf4036;
$info      : #159eca;
$warning   : #e3ba49;
